.posts {
  margin-top: 50px;
  margin-bottom: 30px;
}

.posts__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 15px;
}

.posts__list-item {
  max-width: 380px;
}

.post__list-date{
  color: #818181;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 7px;
}

.posts__list-title {
  font-size: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 15px;
}

.posts__list-title:hover {
  text-decoration: underline;
}

.posts__list-title:active {
  text-decoration: underline;
}

.pages {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 60px;
}

.pages__wrap {
  display: flex;
  position: absolute;
  left: 40%;
  column-gap: 64px;
}

.pages__btn {
  width: 18px;
  height: 30px;
  background-color: #fff;
}

.pages__btn:hover {
  color: #C29974B2;
}

.pages__btn:active {
  color:#C29974B2;
  opacity: 0.7;
}

.pages__btn-left {
  background-image: url(../img/PageBtn.png);
  transform: scaleX(-1);
  transform-origin: center;
  transform-box: fill-box;;
}

.pages__btn-left:hover {
  background-image: url(../img/PageBtn_hover.png);
  transform: scaleX(-1);
  transform-origin: center;
  transform-box: fill-box;;
}

.pages__btn-left:active {
  background-image: url(../img/PageBtn_active.png);
  transform: scaleX(-1);
  transform-origin: center;
  transform-box: fill-box;;
}

.pages__btn-right {
  position: absolute;
  left: 100%;
  background-image: url(../img/PageBtn.png);
}

.pages__btn-right:hover {
  position: absolute;
  left: 100%;
  background-image: url(../img/PageBtn_hover.png);
}

.pages__btn-right:active {
  position: absolute;
  left: 100%;
  background-image: url(../img/PageBtn_active.png);
}